%div.container
    %section.articles
        %div.column.is-8.is-offset-2
            %div.card.article
                %div.card-content
                    %div.media
                        %div.media-center
                            = image_tag 'user-photo.jpeg', alt: 'User', class: 'author-image'
                        %div.media-content.has-text-centered
                            %p.title.article-title Lorem ipsum dolor sit amet.
                            %p.subtitle.is-6.article-subtitle
                                %a(href="")
                                    @user
                    %div.content.article-body
                        %p
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore neque quia distinctio amet beatae deleniti, exercitationem ut inventore dolores animi enim non architecto dolor id, esse ullam repudiandae rem aliquid. Minus atque sint natus necessitatibus! Amet deserunt, dolorum delectus unde neque officiis inventore nobis non eius. Facilis esse et voluptatibus.
                        %p
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quod totam praesentium libero doloremque, nisi fugiat iusto excepturi dignissimos facilis dolorem animi hic cupiditate, error magnam pariatur ad? Eaque, mollitia!
                        %h3.has-text-centered
                            Lorem ipsum dolor sit amet.
                        %p
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aspernatur alias ratione ab quod esse tempora perferendis mollitia natus. Facere sapiente saepe quos itaque debitis?