%div.column.body-column
    %div.column.is-half.is-offset-one-quarter
        %div.card
            %div.header
                %div.media
                    %div.media
                        %div.media-left
                            %figure.image.is-48x48
                                = image_tag ""
                        %div.media-content
                            %p.title.is-4 John Smith
                            %p.subtitle.is-6 @john
            %div.card-image
                %figure.image.is-4by3
                    = image_tag ""
            %div.card-content
                %div.level.is-mobile
                    %div.level-left
                        %div.level-item.has-text-centered
                            %a
                                %i.material-icons favorite_border
                        %div.level-item.has-text-centered
                            %div
                                %a
                                    %i.material-icons
                                        chat_bubble_outline
            %div.content
                %p
                    %strong 32 Likes
                Lorem ipsum dolor sit amet.
                %a(href="") @bulbao
                %a(href="") #css
                %a(href="") #responsive
                %br
                %time 11:09 PM - 1 Jan 2018
            %div.card-footer
                %div.columns.is-mobile
                    %div.column.is-11
                        %div.field
                            %div.control
                                %input.input.is-small
                    %div.column.has-text-centered
                        %button.button
                            %i.material-icons more_horiz
  