%section.hero.is-info.welcome.is-small
    %div.hero-body
        %div.container
            %h1.title= "Hello, " +  @user.username
            %figure.image.is-64x64
                = user_gravatar(@user)
