// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
    font-family: "AlegreyaSansSC";
    src: url(asset-path('Alegreya/AlegreyaSansSC.ttf')) format("truetype");
}

body {
    font-family: 'AlegreyaSansSC';
}

.container .columns {
    margin: 3rem 0;
}

.navbar-menu .navbar-item {
    padding: 0 2rem;
}

.hero--image {
    padding: 5px;
    border: 1px solid #ccc;
}
